<mat-toolbar color="primary" class="toolbar mat-elevation-z8">
    <div class="icon-area" fxLayout="row wrap">
      <!-- <ng-container> -->
        <button mat-button (click)="modeToCre()" *ngIf="mode==3" fxHide fxShow.gt-sm>
          <mat-icon>add_box</mat-icon>新規
        </button>        
        <button mat-button (click)="modeToUpd()" *ngIf="mode==3 && this.mcd" fxHide fxShow.gt-sm>
          <mat-icon>edit</mat-icon>編集
        </button>
        <button mat-button (click)="save()" *ngIf="mode!=3" fxHide fxShow.gt-sm>
          <mat-icon>save</mat-icon>保存
        </button>
        <button mat-button (click)="cancel()" *ngIf="mode!=3" fxHide fxShow.gt-sm>
          <mat-icon>cancel</mat-icon>中止
        </button>
      <!-- </ng-container> -->
      <!-- <div fxFlex="0 0 12em" class="ng-autocomplete" fxFlexAlign="end" class="frm-fld-in-bar">
        <ng-autocomplete mat-select 
          [data]="membs"
          placeholder="顧客コード"
          (selected)="mcd=$event.mcode"
          historyIdentifier="mcode"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>
      
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.mcode"></a>
        </ng-template>
      
        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>       -->
      
      <mat-form-field fxFlex="0 0 12em" fxFlexAlign="end" class="frm-fld-in-bar">
          <mat-label>顧客コード</mat-label>
          <input matInput [ngModel]="mcd" (ngModelChange)="mcd=$event" (keyup.enter)="onEnter()" (keydown.f4)="mcdHelp()"
            (blur)="refresh()" [ngModelOptions]="{standalone: true}">
            <button mat-button mat-icon-button matSuffix (click)="setNext()" *ngIf="mode==3">
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button mat-button mat-icon-button matSuffix (click)="setPrev()" *ngIf="mode==3">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <button mat-button mat-icon-button matSuffix (click)="mcdHelp()" *ngIf="mode==3">
              <mat-icon>find_replace</mat-icon>
            </button>
      </mat-form-field>
      <button mat-button (click)="diaBetsu()" *ngIf="mode!=1">
        <mat-icon>local_shipping</mat-icon>
        <span  fxHide fxShow.gt-sm>別納先</span>
      </button>
      <button  mat-button (click)="test(1)" *ngIf="mode!=1">
        <mat-icon>scanner</mat-icon>
        <span  fxHide fxShow.gt-sm>刺繍データ</span>
      </button>
      <button  mat-button (click)="test(1)" *ngIf="mode!=1">
        <mat-icon>question_answer</mat-icon>
        <span  fxHide fxShow.gt-sm>問合せ</span>
      </button>
      <button mat-button (click)="refresh()">
        <mat-icon>autorenew</mat-icon>
        <span  fxHide fxShow.gt-sm>再表示</span>
      </button>
      <button mat-button><a mat-button href="https://mwj001-my.sharepoint.com/:x:/g/personal/asago00_mwj001_onmicrosoft_com/EdJVQxKeKFRCr0sV1ebScewBQX6bPjCc8acDLL5VzwsIJQ?e=5HEIZ5" target="_blank">
        <mat-icon>help</mat-icon>
        ヘルプ
      </a></button>
    </div>
</mat-toolbar>
<form [formGroup]="form" fxLayout="row wrap" fxLayoutGap="5px">
<mat-card fxFlex.gt-sm="50">
  <mat-card-header fxLayout="row wrap" fxLayoutAlign="space-between">
    <mat-card-title>
        基本情報
    </mat-card-title>
    <app-tmstmp></app-tmstmp>
  </mat-card-header>
  <mat-card-content>
    <form formGroupName="base" fxLayout="column">
      <div fxLayoutGap="5px">
      <mat-form-field style="width:20em">
        <mat-label>姓/会社名</mat-label>
        <input tabIndex="1" matInput formControlName="sei" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>名</mat-label>
        <input tabIndex="2" matInput formControlName="mei">
      </mat-form-field>
      <mat-form-field>
        <mat-label>フリガナ</mat-label>
        <input tabIndex="3" matInput formControlName="kana" required>
      </mat-form-field>
      <mat-form-field style="width:8em">
        <mat-label>単価区分</mat-label>
        <mat-select tabIndex="4" formControlName="tankakbn" required>
          <mat-option *ngFor="let sval of tanka" [value]="sval.value">
            {{sval.viewval}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width:5em">
        <mat-label>税区分</mat-label>
        <mat-select tabIndex="5" formControlName="mtax" required>
          <mat-option *ngFor="let sval of mtax" [value]="sval.value">
            {{sval.viewval}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width:8em">
        <mat-label>入金予定初期値</mat-label>
        <mat-select tabIndex="6" formControlName="pay">
          <mat-option *ngFor="let sval of pay" [value]="sval.value">
            {{sval.viewval}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width:4em">
        <mat-label>配送方法初期値</mat-label>
        <input tabIndex="7" matInput formControlName="okuri">
      </mat-form-field>
      <mat-form-field style="width:8em">
        <mat-label>大分類</mat-label>
        <mat-select tabIndex="8" formControlName="daibunrui">
          <mat-option *ngFor="let sval of daib" [value]="sval.value">
            {{sval.viewval}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width:8em">
        <mat-label>部門</mat-label>
        <mat-select tabIndex="9" formControlName="bumon">
          <mat-option *ngFor="let sval of bmon" [value]="sval.value">
            {{sval.viewval}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width:8em">
        <mat-label>小分類</mat-label>
        <mat-select tabIndex="10" formControlName="shobunrui">
          <mat-option *ngFor="let sval of bmon" [value]="sval.value">
            {{sval.viewval}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width:8em">
        <mat-label>営業担当</mat-label>
        <mat-select tabIndex="11" formControlName="tcode1">
          <mat-option *ngFor="let sval of tcds" [value]="sval.value">
            {{sval.viewval}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width:8em">
        <mat-label>内勤担当</mat-label>
        <mat-select tabIndex="12" formControlName="tcode2">
          <mat-option *ngFor="let sval of tcds" [value]="sval.value">
            {{sval.viewval}}
          </mat-option>
        </mat-select>
      </mat-form-field>      
      <mat-form-field style="width:8em">
        <mat-label>特別単価区分</mat-label>
        <mat-select tabIndex="13" formControlName="sptnkbn">
          <mat-option *ngFor="let sval of sptnk" [value]="sval.value">
            {{sval.viewval}}
          </mat-option>
        </mat-select>
      </mat-form-field>     
      <mat-checkbox formControlName="del">削除済</mat-checkbox>
      </div>
      <mat-form-field>
        <mat-label>備考</mat-label>
        <textarea matInput formControlName="bikou" matTextareaAutosize></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>社内向け備考</mat-label>
        <textarea matInput formControlName="inbikou" matTextareaAutosize></textarea>
      </mat-form-field>
    </form> 
  </mat-card-content> 
</mat-card>
<mat-card fxFlex.gt-sm="49">     
    <mat-card-header>
        <mat-card-title>
            基本住所
        </mat-card-title>
    </mat-card-header>
    <app-address [formName]="'addr0'"></app-address>        
</mat-card>
<mat-accordion multi>
    <form formGroupName="kake">
        <mat-expansion-panel>        
            <mat-expansion-panel-header fxLayoutGap="10px">
                <mat-label> 掛請求</mat-label>
                <input type="checkbox" formControlName="torikbn">
                <small style="margin-left:20px">締め日、入金日の末日は99を入力</small>
            </mat-expansion-panel-header> 
            <div fxLayoutGap="5px">
            <mat-form-field style="width:5em">
                <mat-label>締め日</mat-label>
                <input tabIndex="21" matInput formControlName="sime">
            </mat-form-field>
            <mat-form-field style="width:5em">
                <mat-label>入金サイト</mat-label>
                <mat-select tabIndex="22" formControlName="site">
                  <mat-option *ngFor="let sval of site" [value]="sval.value">
                    {{sval.viewval}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="width:5em">
                <mat-label>入金日</mat-label>
                <input tabIndex="23" matInput formControlName="inday">
            </mat-form-field>
            <mat-form-field>
                <mat-label>請求先コード</mat-label>
                <input tabIndex="24" matInput formControlName="icode">
            </mat-form-field>
            <mat-form-field>
              <mat-label>請求書送付先コード</mat-label>
              <input tabIndex="25" matInput formControlName="sscode">
            </mat-form-field>
          </div>
        </mat-expansion-panel>
    </form>
    <form formGroupName="mail">
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <!-- <div fxLayout="column" fxLayoutGap="5px"> -->
                <mat-form-field>
                  <mat-label>メールアドレス</mat-label>
                  <input tabIndex="31" matInput formControlName="mail">
                </mat-form-field>
            <!-- </div> -->
          </mat-expansion-panel-header> 
          <div fxLayout="row" fxLayoutGap="5px">
          <mat-form-field>
            <mat-label>メールアドレス2</mat-label>
            <input tabIndex="32" matInput formControlName="mail2">
          </mat-form-field>
          <mat-form-field>
            <mat-label>メールアドレス3</mat-label>
            <input tabIndex="33" matInput formControlName="mail3">
          </mat-form-field>
          <mat-form-field>
            <mat-label>メールアドレス4</mat-label>
            <input tabIndex="34" matInput formControlName="mail4">
          </mat-form-field>
          <mat-form-field>
            <mat-label>メールアドレス5</mat-label>
            <input tabIndex="35" matInput formControlName="mail5">
          </mat-form-field>
          </div>
      </mat-expansion-panel>
    </form>  
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
            その他住所
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-address [formName]="'addr1'"></app-address>                
    </mat-expansion-panel>
</mat-accordion>
</form>