mat-form-field {
    height: 3em;
    font-size: 1em;
    padding-left: .4em;
  }

.nmtxt {
  padding-bottom: 5px;
  margin-right: 7px; 
  width: 15em;
}  

.ybtxt {
  padding-bottom: 5px;
  margin-right: 7px; 
}  

.i_num {
  text-align: right;
  margin:0px;
}