::ng-deep.mat-form-field.frm-fld-in-bar {
    .mat-form-field-wrapper {
        padding-bottom: 0;
    }
    .mat-form-field-underline {
        bottom: 0;
    }
}
.RouterOutlet {
    padding-top: 35px;
}
mat-toolbar {
    position: fixed;
    z-index: 100; 
}
mat-toolbar + *{
    padding-top: 70px;    
}
// .mat-card-actions {
//     padding-top: 0px;
// }
// .mat-card{
//     padding-top: 0px;
// }