<form formGroupName="{{formName}}" ngNativeValidate ybAddress fxLayoutGap="7px">
    <mat-form-field>
        <mat-label>郵便番号(ハイフンなし)</mat-label>
        <input matInput formControlName="zip" ybPostalCode required size="7" maxlength="7">
        <!-- <button mat-button matSuffix mat-stroked-button aria-label="get" (click)="address.complete()">
            住所補完
        </button> -->
    </mat-form-field>
    <mat-form-field>
        <mat-label>都道府県</mat-label>
        <input matInput formControlName="region" ybRegion required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>市区町村</mat-label>
        <input matInput formControlName="local" ybLocality required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>町名・番地</mat-label>
        <input matInput formControlName="street" ybStreet required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>マンション・ビル名</mat-label>
        <input matInput formControlName="extend" ybExtended>
    </mat-form-field>
    <mat-form-field>
        <mat-label>道場名</mat-label>
        <input matInput formControlName="extend2">
    </mat-form-field>
    <mat-form-field>
        <mat-label>電話番号</mat-label>
        <input matInput formControlName="tel">
    </mat-form-field>
    <mat-form-field>
        <mat-label>FAX番号</mat-label>
        <input matInput formControlName="fax">
    </mat-form-field>
    <mat-form-field>
        <mat-label>電話番号2</mat-label>
        <input matInput formControlName="tel2">
    </mat-form-field>
    <mat-form-field>
        <mat-label>住所宛名</mat-label>
        <input matInput formControlName="adrname" required>
    </mat-form-field>
</form>